<div class="container">
  <div class="ingredientOptions">

    <form action="">
      {{#each ingredientArray}}
        <a href="{{../baseURL}}/{{id}}"><img class="topping" src="{{image}}" alt="{{id}}"></a>
        {{name}}
      {{/each}}
    </form>

  </div>
</div>
