<div class="container">
  <div class="ingredientOptions">
    {{baseURL}}

    <form action="">
      {{#each ingredientArray}}
        <a href="{{../baseURL}}/{{id}}"><img class="topping" src="{{image}}" alt="{{id}}"></a>
        {{name}}
      {{/each}}
    </form>
    
  </div>
<<<<<<< HEAD
=======
  {{/each}}
 <p> {{id}}, {{name}}</p>

>>>>>>> 2111c5f881a36e1f5aaf1f2d463a2971ce97528c
</div>
