<form action="/">

<p> Wow, you must be some kind of sandwich wizard! What a combo!</p>

<p>A delicious <b>{{protein.name}} Patty</b> smothered in melted <b>{{cheese.name}}</b> with locally sourced <b>{{veg.name}}</b>, all wrapped
  in a freshly baked <b>{{bread.name}}</b> bun. Yummy!</p>
<div class ='container'>
  <img src="{{bread.image}}">
  <img src="{{cheese.image}}">
  <img src="{{veg.image}}">
  <img src="{{protein.image}}">
  <img src="{{bread.image2}}">
</div>

<input type="submit" value="Make Another Sandwich!" />
</form>
