<p> Wow, you must be some kind of sandcih wizard! What a combo!</p>

<p>A delicious {{protein.name}} patty smothered in melted {{cheese.name}} with locally sourced {{veg.name}} all wrapped 
  in a freshly baked {{bread.name}} bun. Yummy!</p>
<div class ='container'>
  <div id = 'sandwich'>
    <img src="{{bread.image}}">
    <img src="{{cheese.image}}">
    <img src="{{veg.image}}">
    <img src="{{protein.image}}">
  </div>
</div>
